#!/usr/bin/env python
# Fedora Hosted Processor - Config
# Ricky Elrod <codeblock@fedoraproject.org>
# GPLv2+

# Set this False for production(!)
# It's important because if you don't, tracebacks will literally give users
# a full Python REPL.
DEBUG = True

# Make this random.
SECRET_KEY = 'MySecretKeyThatShouldBeChangedSoChangeItPleaseKTHX!!11111eleven'

# Self explainatory.
SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/test.db'

# This is only used to check of a group exists -- a readonly user works fine.
FAS_SERVER       = 'http://fas01.dev.fedoraproject.org/accounts/'
FAS_INSECURE_SSL = False
FAS_USERNAME     = 'someuser'
FAS_PASSWORD     = 'SomeP4ssw0rd!!!'

# Who should get notified of new Fedora Hosted requests?
# For production, this will probably be:
# sysadmin-hosted-members@fedoraproject.org.
NOTIFY_ON_REQUEST = 'whoever@example.com'

# Override who gets the "your project has been set up" email.
# Leave this commented out unless you're developing/debugging.
PROJECT_OWNER_EMAIL_OVERRIDE = 'something@example.com'
