<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fedora Hosted Request System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Request Fedora Hosted project space including a Trac instance, mailing lists, and an SCM repo.">
    <meta name="author" content="Ricky Elrod, Fedora Project">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="https://fedoraproject.org/static/images/favicon.ico" type="image/vnd.microsoft.icon">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/"><img class="brand" style="margin-top: -4px; padding-top: 0; padding-bottom: 0;" src="{{ url_for('static', filename='fedoralogo.png') }}" alt="Fedora Logo"></img> New Request</a></li>
              <li><a href="/pending">Pending Requests</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="https://fedorahosted.org/">Fedora Hosted</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      {% block content %}{% endblock %}

      <hr />
      
      <footer class="footer">
        <div class="pull-right">
          <p>&copy; 2012 Red Hat, Inc. and others.</p>
          <a href="http://fedoraproject.org/sponsors">Sponsors</a> - <a href="http://fedoraproject.org/wiki/Legal:Main">Legal</a> - <a href="http://fedoraproject.org/wiki/Legal:Trademark_guidelines">Trademark Guidelines</a>
        </div>
        <p>Please file any bugs or concerns via the <a href="https://fedorahosted.org/fedorahosted/">Fedora Hosted bug tracker</a>.</p>

      </footer>
    </div> <!-- /container -->

    <script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-typeahead.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mailinglists.js') }}"></script>
  </body>
</html>
