<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fedora Hosted Request System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Request Fedora Hosted project space including a Trac instance, mailing lists, and an SCM repo.">
    <meta name="author" content="Ricky Elrod, Fedora Project">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="https://fedoraproject.org/static/images/favicon.ico" type="image/vnd.microsoft.icon">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="/" class="brand" style="padding-top: 2px; padding-bottom: 0;"><img src="{{ url_for('static', filename='fedoralogo.png') }}" alt="Fedora Logo"></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="https://fedorahosted.org">Fedora Hosted</a></li>
              <li><a href="/">New Request</a></li>
              <li><a href="/pending">Pending Requests</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      {% block content %}{% endblock %}

    </div> <!-- /container -->

    <script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-transition.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-alert.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-modal.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-scrollspy.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-tooltip.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-popover.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-button.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/jbootstrap-typeahead.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mailinglists.js') }}"></script>
  </body>
</html>
    
<!--    <div id="bottom">
      <div id="footer">
        <p class="copy">
          &copy; 2012 Red Hat, Inc. and others.  Please send any comments or corrections to the <a href="mailto:webmaster@fedoraproject.org">websites team</a>.
        </p>
        <p class="disclaimer">
          The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.
        </p>
        <ul>
          <li class="first"><a href="http://fedoraproject.org/sponsors">Sponsors</a></li>
          <li><a href="http://fedoraproject.org/wiki/Legal:Main">Legal</a></li>
          <li><a href="http://fedoraproject.org/wiki/Legal:Trademark_guidelines">Trademark Guidelines</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>-->
