<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="https://fedoraproject.org/static/css/fedora.css">
    <link rel="shortcut icon" href="https://fedoraproject.org/static/images/favicon.ico" type="image/vnd.microsoft.icon">
    <!--[if lt IE 7]>
    <style type="text/css">
      #wrapper {
        height: 100%;
        overflow: visible!important;
      }
    </style>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mailinglists.js') }}"></script>
    <title>Fedora Hosted</title>
  </head>
  <body>
    <div id="wrapper">
      
      <div id="head">
        <h1><a href="https://fedorahosted.org/">Fedora Hosted</a></h1>
      </div>

      <div class="fhp-constraint">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    
    <div id="bottom">
      <div id="footer">
        <p class="copy">
          &copy; 2012 Red Hat, Inc. and others.  Please send any comments or corrections to the <a href="mailto:webmaster@fedoraproject.org">websites team</a>.
        </p>
        <p class="disclaimer">
          The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.
        </p>
        <ul>
          <li class="first"><a href="http://fedoraproject.org/sponsors">Sponsors</a></li>
          <li><a href="http://fedoraproject.org/wiki/Legal:Main">Legal</a></li>
          <li><a href="http://fedoraproject.org/wiki/Legal:Trademark_guidelines">Trademark Guidelines</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
