{% extends "global.html" %}
{% block content %}

<div class="span6 offset3">
  {% from "_formhelpers.html" import render_field %}
  <form action="" method="post" class="form-horizontal">
    <div class="well">
      {{ form.hidden_tag() }}
      <fieldset>
        <legend>New Fedora Hosted Project Request</legend>
        {{ render_field(form.project_name) }}
        {{ render_field(form.project_pretty_name) }}
        {{ render_field(form.project_description) }}
        {{ render_field(form.project_scm) }}
        {{ render_field(form.project_trac) }}
        {{ render_field(form.project_owner) }}

        {# Regular mailing lists #}
        <a href="#" class="pull-right" id="moar_lists">Add Mailing List Field</a>
        {% for field in form.project_mailing_lists %}
        {{ render_field(field, class="ml_field") }}
        {% endfor %}

        {# Commit lists #}
        <a href="#" class="pull-right" id="moar_commit_lists">Add Commit List Field</a>
        {% for field in form.project_commit_lists %}
        {{ render_field(field, class="cl_field") }}
        {% endfor %}

        {{ render_field(form.comments) }}

        <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </div>
  </form>
</div>
{% endblock %}
