{% extends "global.html" %}
{% block content %}
<h1>Fedora Hosted Project Request</h1>

<p>
  Hi there, and welcome to the <a href="https://fedorahosted.org/">Fedora Hosted</a> project request system..
</p>

<p>
  To request space for your open source project, please fill out the form below, in its entirety.
</p>

<hr />

{% from "_formhelpers.html" import render_field %}
<form action="" method="post">
  {{ form.hidden_tag() }}
  <table>
    {{ render_field(form.project_name) }}
    {{ render_field(form.project_pretty_name) }}
    {{ render_field(form.project_description) }}
    {{ render_field(form.project_scm) }}
    {{ render_field(form.project_trac) }}
    {{ render_field(form.project_owner) }}

    {# Regular mailing lists #}
    {% for field in form.project_mailing_lists %}
    {{ render_field(field, class="ml_field") }}
    {% endfor %}
    <tr id="tr_moar_lists">
      <td>More Mailing Lists?</td>
      <td><a href="#" id="moar_lists">Add Mailing List Field</a></td>
    </tr>

    {# Commit lists #}
    {% for field in form.project_commit_lists %}
    {{ render_field(field, class="cl_field") }}
    {% endfor %}
    <tr id="tr_moar_commit_lists">
      <td>More Commit Lists?</td>
      <td><a href="#" id="moar_commit_lists">Add Commit List Field</a></td>
    </tr>

    <tr>
      <td>Submit</td>
      <td><button type="submit">Submit</button></td>
    </tr>
  </table>
</form>
{% endblock %}
