{% extends "global.html" %}
{% block content %}
<h1>Fedora Hosted Project Request</h1>
<p>
  Hi there and welcome to Fedora Hosted. To request space for your open source
  project, please fill out the form below, in its entirety.
</p>

{% from "_formhelpers.html" import render_field %}
<form action="#" method="post">
  <table>
    {{ render_field(form.project_name) }}
    {{ render_field(form.project_pretty_name) }}
    {{ render_field(form.project_description) }}
    {{ render_field(form.project_scm) }}
    {{ render_field(form.project_trac) }}
    {{ render_field(form.project_owner) }}
    <td>Submit</td>
    <td><button type="submit">Submit</button></td>
  </table>
</form>
{% endblock %}
