.fhp-constraint {
    margin: 20px auto;
    width: 800px;
    padding: 20px;
}

#head h1 a {
    background: url('https://fedorahosted.org/web/static/images/fedora-hosted-banner.png') 0 50% no-repeat;
    width: 200px;
}

h1 { text-align: center; }

input[type=text] { font-size: 1.3em; }

hr { margin: 10px 0 10px 0; }